<div class="position-relative overflow-hidden w-100 h-100 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">{{ msg }}</h1>
    <p class="lead font-weight-normal">
      Espero verdadeiramente que possamos te ajudar a ter acesso aos médicos e hospitais
      particulares com a qualidade que você merece!
    </p>
    <p class="lead font-weight-normal">
      Desejo a você uma vida saúdável, rica e abundante!
    </p>
    <p class="lead font-weight-normal">
      Leonardo Cunha
    </p>
    <p class="lead font-weight-normal">
      <video width="320" height="240" controls>
        <source src="movie.mp4">
      </video>
    </p>
    <a class="btn btn-outline-secondary" href="#">Iniciar</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
